@inherits LayoutComponentBase
<BApp>
    <BOffCanvas Title="Workout">
        <ChildContent>
            <BOffCanvasItem Href="/" Name="Home" Icon="bi bi-house" />
            <BOffCanvasItem Href="/weather" Name="Fetch Data" Icon="bi bi-list-ul" />
            <BOffCanvasItem Href="/counter" Name="Counter" Icon="bi bi-plus-lg" />
        </ChildContent>
    
        <Bottom>
            <span>Version in bottom 1.4.1</span>
        </Bottom>
    </BOffCanvas>
    
    @Body
</BApp>
